.introduction {
    height: 20%;
    width: 40%;
    /* background-color: aqua; */
    right: 3%;
    top: 45vh;
    opacity: 0%;
    justify-content: center;
    /* border-color: #F9AA33; */
    /* background-color: aquamarine; */
    color: aliceblue;
    position: relative;
    animation-name: example;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 2s;

}

text{
    font-size: 100%;
}

.link{
    display: flex;
}
.link a{
    color: #F9AA33;
    margin-top: 1%;
    margin-left:5%;
    margin-bottom: 1%;
    /* gap: 16px; */

}

@keyframes example {
    0%   {color:none;opacity: 0%;;top: 80vh;}
    25%  {color:none;opacity: 10%; }
    50%  {color:none;opacity: 35%;}
    75%  {color:none;opacity: 50%; }
    100% {color:aliceblue;opacity: 100%;}
  }
